---
import Template from "../layouts/Template.astro";
---

<Template>
    <section class="about">
        <h1>ABOUT</h1>
        <p>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                malesuada cursus accumsan. Proin commodo elementum pharetra.
                Maecenas ante mi, volutpat vel scelerisque quis, aliquet a
                sapien. Pellentesque nisi lectus, euismod ut justo id, cursus
                mollis nisl. Aliquam rhoncus volutpat velit, at scelerisque
                turpis. Maecenas vitae fermentum orci, nec elementum quam.
                Vivamus varius nisl ex, sed euismod tortor fermentum non. Sed a
                lectus iaculis, sodales tortor at, varius ante.
            </span>

            <span>
                Nullam sem lacus, sollicitudin at consequat eget, accumsan in
                arcu. Sed finibus imperdiet ligula et pellentesque. Maecenas
                quis enim eu nisl pharetra cursus sit amet in massa. Phasellus
                massa massa, volutpat vel convallis eu, varius eu sapien. Morbi
                sed purus congue, aliquam turpis eget, auctor massa. Phasellus
                id lacus posuere metus sagittis egestas. Nunc semper vehicula
                ipsum, a luctus elit. Cras vulputate, dui et tempor vulputate,
                velit neque vehicula velit, vitae pharetra felis turpis ut.</span
            >

        </p>

        <div>
            <img src="/images/charlene.jpg" alt="">
        </div>
    </section>
</Template>
