---
import Template from "../layouts/Template.astro";
---

<Template>
    <div class="contact">
        <h1>
            <span>CONNECT WITH</span>
            <span>US TODAY</span>
        </h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            quae quidem velit voluptatum suscipit accusamus deserunt illo.
            Doloribus atque rem, fugit architecto provident veniam, quia
            voluptatum, soluta pariatur vel rerum!
        </p>

        <div>
            <i class="fa-solid fa-phone-volume"></i>
            <p>xxx-xxx-xxx</p>

        </div>
        <i class="fa-sharp fa-solid fa-location-dot"></i>
        <p>
            <span>Lorem ipsum dolor sit amet</span>
            <span>Lorem ipsum dolor sit amet</span>
        </p>

        <div>

        </div>


    </div>
</Template>
