---
import Template from "../layouts/Template.astro";
---

<Template>
    <div class="contact">

        <h1>
            <span>CONNECT WITH</span>
            <span>US TODAY</span>
        </h1>


        <p class="contact-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            quae quidem velit voluptatum suscipit accusamus deserunt illo.
            Doloribus atque rem, fugit architecto provident veniam, quia
            voluptatum, soluta pariatur vel rerum!
        </p>

        <div>
            <i class="fa-solid fa-phone-volume fa-2xl"></i>
            <p>xxx-xxx-xxx</p>
        </div>


        <div>
            <i class="fa-sharp fa-solid fa-location-dot fa-2xl"></i>
            <p class="location-text">
                <span>Lorem ipsum dolor sit amet</span>
                <span>Lorem ipsum dolor sit amet</span>
            </p>
        </div>

<form action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="1559e601-1e30-4ee0-be81-9d97afc7434a">
<h1>OR Fill out the form below</h1>

<label for="name">Name*</label>
<input type="text" id="name" required placeholder="Name">

<label for="email">Email*</label>
<input type="text" id="email" required placeholder="Email">

<label for="message">Message*</label>
<textarea name="messafge" id="" cols="30" rows="10" required placeholder="Message*"></textarea>

<input type="hidden" name="redirect" value="https://charlenecottleworldfoundation.netlify.app/form_success">
<button>
SUBMIT
</button>
</form>


    </div>
</Template>
