---
import Template from "../layouts/Template.astro";
---

<Template>
    <div class="description">
        <section class="mission">
            <h2>OUR MISSION</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Tempore eius eum quasi ut? Ex totam fuga, quos vitae suscipit
                voluptatum officiis similique minima possimus quae maxime
                exercitationem repudiandae rem vel. Consequuntur ea optio
                nesciunt iure qui debitis commodi quasi eos laboriosam nam vitae
                nulla fuga illo, distinctio totam voluptate est pariatur.
                Tempore cupiditate, atque laudantium error dolor non voluptatum
            </p>

            <a href="/about">READ MORE</a>
        </section>

        <section class="support">
            <h2>LEARN HOW TO SUPPORT US</h2>

            <div>
                <a href="#">SUPPORT US</a>
            </div>
        </section>

        <section class="news">
            <h2>LATEST NEWS</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Tempore eius eum quasi ut? Ex totam fuga, quos vitae suscipit
                voluptatum officiis similique minima possimus quae maxime
                exercitationem repudiandae rem vel. Consequuntur ea optio
                nesciunt iure qui debitis commodi quasi eos laboriosam nam vitae
                nulla fuga illo, distinctio totam voluptate est pariatur.
                Tempore cupiditate, atque laudantium error dolor non voluptatum
            </p>

            <a href="/about">READ MORE</a>
        </section>

        <section class="subscribe">
            <div>
            <h2>SUBSCRIBE</h2>
            <h3>Subscribe to stay in touch</h3>

            <form action="">
                <input
                    type="text"
                    placeholder="Enter your email here*"
                    required
                />
                <button>Join</button>
            </form>
        </div>
        </section>

    </div>
</Template>
