<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONT-Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
        rel="stylesheet">

    <!-- GOOGLE FONT-LOBSTER -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/493b3e3710.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/css/style.css">

    <title>CHARLENE COTTLE WORLD FOUNDATION</title>
    <style>
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            justify-content: center;
        }

        h1,
        i {
            font-size: 3rem;
            color: #22c55e;
        }



        h1 {
           text-align:center;
        }
        p {
            font-size: 2rem;
            text-align: center;
            padding-top: 3rem;
        }

      a{
       
        color:#6366f1;
        text-decoration: none;
        font-weight: bold;
       
      }

span{
display:block;
padding-top:3rem;
font-weight:bold;
}
    </style>
</head>


<body>
    <div class="container">
        <main>

            <h1>Email added to Newsletter</h1>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>Thank you!</p>
            <p>We will get in contact with you soon</p>
            
            <p>Click <a href="https://charlenecottleworldfoundation.netlify.app/">HERE</a> to back to <span>charlenecottleworldfoundation.com</span>
            </p>
            

        </main>
    </div>






    <script src="/js/app.js" is:inline></script>

</body>



</html>