---
import Template from "../layouts/Template.astro";
---

<Template>
    <div class="news-html">
        <h1>NEWS</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident
            esse aspernatur ipsam recusandae corrupti fugiat id asperiores. Quis
            sit minus soluta, amet maxime porro aspernatur veritatis ullam
            corporis neque ab!
        </p>
    </div>
</Template>
