---
import Template from "../layouts/Template.astro";
---

<Template>
    <div class="support-html">
    <div class="support-introduction">
        <h1>SUPPORT US</h1>
        <h2>Volunteer</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit
            amet ultricies lectus. Praesent at metus felis. Nam rutrum risus id
            nisl posuere pretium.
        </p>
    </div>

    <div class="support-details">
        <h1>
            <span>WAYS YOU CAN</span>
            <span>DONATE</span>
        </h1>

        <div>
            <section>
                <i class="fa-sharp fa-solid fa-globe fa-2xl"></i>
                <h2>Online</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quis ea quia id, corporis ipsa sit ut earum illum,
                    repudiandae sunt in commodi cumque iusto. Veritatis impedit
                    tempora aperiam recusandae obcaecati?
                </p>
                <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="business" value="HMRV5H35UDLUS" />
                    <input type="hidden" name="no_recurring" value="0" />
                    <input type="hidden" name="item_name" value="Thank you for your donation!" />
                    <input type="hidden" name="currency_code" value="CAD" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                    
                    
                    
                    
            </section>

            <section>
                <i class="fa-solid fa-envelope fa-2xl" ></i>
                <h2>By Email</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Suscipit dicta nostrum eligendi neque, assumenda saepe illum
                    labore quos debitis aspernatur porro numquam eum similique
                    quisquam quas sed repudiandae voluptatum? Odio!
                </p>

                <p>xxx@xxx.com</p>
            </section>

            <section>
                <i class="fa-solid fa-user fa-2xl"></i>
                <h2>In Person</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Tenetur culpa nisi nam architecto eligendi iste, hic quam
                    nulla fugiat unde veniam, sint sequi eos, autem porro quae
                    libero explicabo doloribus?
                </p>

                <p>
                    <span> Lorem, ipsum dolor sit amet</span>
                    <span>Lorem, ipsum dolor sit amet</span>
                </p>
            </section>

            <section>
                <i class="fa-solid fa-phone-volume fa-2xl"></i>
                <h2>Phone for details</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nobis molestias cupiditate nemo deleniti, sapiente
                    distinctio nulla earum fugit repudiandae accusamus labore
                    nostrum iusto ad culpa, adipisci vitae. Pariatur, a cum!
                </p>

                <p>xxx-xxx-xxx-xxx</p>
            </section>
        </div>
    </div>
</div>
</Template>
