<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
        />

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"
        ></script>

        <!-- font awesome -->
<script src="https://kit.fontawesome.com/493b3e3710.js" crossorigin="anonymous"></script>

        <!-- stylesheet -->

        <link rel="stylesheet" href="/css/style.css">
        <title>CHARLENE COTTLE</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">


              <a class="navbar-brand" href="/">
                <p>CHARLENE COTTLE</p>
                <p>WORLD FOUNDATION</p> </a>


              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

            


              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">


                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>

                </ul>
              </div>
            </div>
          </nav>
        <main>
<slot/>
        </main>

        <footer>
          <a href="https://www.facebook.com/charlene.cottle.1" target="_blank"
                   rel="noopener noreferrer"><i class="fa-brands fa-facebook fa-3x"></i></a>
     
      <!-- trigger modal -->

      <i class="fa-sharp fa-solid fa-share-nodes fa-3x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>

       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered">
             <div class="modal-content">
               <div class="modal-header">
                 <h1 class="modal-title fs-5" id="exampleModalLabel">SHARE!</h1>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
         
               <div class="modal-body">
                 
                <input type="text" value="https://charlenecottlepoetry.netlify.app/" readonly>
                 
                 <button type="button" class="btn btn-primary btn-sm">Copy</button>
         
               </div>
               
               
               
               <div class="modal-footer">
                 <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
               </div>
               
             </div>
           </div>
         </div>
     <!--  -->

         <p>&copy Charlene Cottle 2023
           <span>
               Made by <a href="https://cheyennepiper.com/" target="_blank"
                   rel="noopener noreferrer">Cheyenne Piper</a>
           </span>
       </p>
     
               </footer>
        <script src="/js/app.js" is:inline></script>
    </body>
</html>
