<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>

      <!-- google fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">



      <!-- font awesome -->

      <script src="https://kit.fontawesome.com/493b3e3710.js" crossorigin="anonymous"></script>
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <title>CHARLENE COTTLE WORLD FOUNDATION</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg " style="background-color:#7DF9FF;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CHARLENE COTTLE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Who We Are</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/support">Support us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <!-- SLOT -->
      <slot />
      <!--  -->
    </main>

    
    <footer>
      
      <a href="#" target="_blank"
             rel="noopener noreferrer"><i class="fa-brands fa-facebook fa-2x"></i>
      </a>



         <a href="#" target="_blank" 
         rel="noopener noreferrer"> <i class="fa-brands fa-instagram fa-2x"></i>
        </a>


         <!-- trigger modal -->

         <i class="fa-sharp fa-solid fa-share-nodes fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>


         <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                 <div class="modal-header">
                   <h1 class="modal-title fs-5" id="exampleModalLabel">SHARE!</h1>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
           
                 <div class="modal-body">
                   
                  <input type="text" value="https://carolparris.netlify.app/" readonly>
                   
                   <button type="button" class="btn btn-primary btn-sm">Copy</button>
           
                 </div>
                 
                 
                 
                 <div class="modal-footer">
                   <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                 </div>
                 
               </div>
             </div>
           </div>
         <!--  -->
         
         <p>
          <span>
            &copy Charlene Cottle World Foundation 2023
          </span>
          
             <span>
                 Made by <a href="https://cheyennepiper.com/" target="_blank"
                     rel="noopener noreferrer">Cheyenne Piper</a>
             </span>
         </p>
     </footer>

    <!-- javascript -->
    <script src="/js/app.js" is:inline></script>
  </body>
</html>
